<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".firebase.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppLabs"
        tools:targetApi="31">
        <activity
            android:name=".administrator.operator.viewInformationOperator"
            android:exported="false" />
        <activity
            android:name=".operator.viewAssignedSchedule"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".operator.MenuOperatorActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.operator.AdminMenuOperatorActivity"
            android:exported="false" />
        <activity
            android:name=".operator.Report_Misconduct_Activity"
            android:exported="false" />
        <activity
            android:name=".administrator.AdminEditMenuActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.AdminEditFormActivity"
            android:exported="false" />

        <service
            android:name=".student.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".student.studentMenuActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".student.EditFormStudent"
            android:exported="false" />
        <activity
            android:name=".student.FormListStudentActivity"
            android:exported="false" />
        <activity
            android:name=".student.DetailsFormStudentActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.SolicitudesListView"
            android:exported="false" />
        <activity
            android:name=".administrator.AdminAddFormTwoActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.AdminAddFormActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.AdminMenuFormActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.AdminMenuActivity"
            android:exported="false" />
        <activity
            android:name=".student.FormStudent3"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".administrator.DetailFormActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity2"
            android:exported="false" />
        <activity
            android:name=".student.FormStudent2"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".student.FormStudent"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".student.FormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".export.ExportSchedulesActivity"
            android:exported="false" />
        <activity
            android:name=".administrator.operator.HistorialOperadoresActivity"
            android:exported="false" />
        <activity
            android:name=".login.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.MainActivity"
            android:theme="@style/Theme.AppLabs"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>